<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather History</title>
    <!-- <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    /> -->
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body >
    <p>
        We're getting 20 years of weather data for  {{datapack.loca.loc_check}} .<br>
        Not your destination? Go back and add details: country, region. And check spelling.<br>
        The charts below show what fraction of the days
         between {{datapack.dates.start_date}} and {{datapack.dates.end_date}}, 
        over twenty years, have had each weather type.
    </p>
    <div class="container-fluid">
    <div class="row">
        <div class="col-3 plot-area" id="temp-chart"></div>
        <div class="col-3 plot-area" id="bar-chart"></div>
        <div class="col-3 plot-area" id="cloud-chart"></div>
        <div class="col-3 plot-area" id="humid-chart"></div>
    </div>
    </div>

    <script src="{{ url_for('static', filename='freq.js') }}"></script>
    {% block javascript %}
	<script>
        console.log("jinja script-in-html running")
        data = JSON.parse({{ datajason | tojson }})
        temp_chart(data['temp'], "temp-chart", 
                    "Historical days by temperature",
                    ['blue', 'green', 'gold', 'red']);
        
        temp_chart(data['cloud'], "cloud-chart", 
                    "Historical days by clear or cloudy",
                    ['blue', 'white', 'grey']);

        temp_chart(data['humid'], "humid-chart", 
                    "Historical days by humidity",
                    ['gold', 'grey', 'green']);  
                    
        bar_chart(data['forbar'], "bar-chart", 
                    "Frequency of rain, snow, wind");
    </script>
    {% endblock %}
</body>
</html>