<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather History</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>

<style>
    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
        padding: 15px;
    }
    th, td {
        background-color: #c8d7ef;
    }
    .p1 {
    font-family: Arial, Helvetica, sans-serif;
    }

    .button1 {
    background-color: #4285f4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }

    .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3f5b89;
    color: white;
    text-align: left;
    }

</style>

</head>

<body>
    <h1 class="p1">Get your weather history here!</h1>
    <p class="p1">
        Please fill in the boxes below:
    </p>
    <div>

    <div>
        <table class="p1">
            <tr>
                <td>For the Country, enter the 2-character code:
                    <br>
                    <a href="country_codes">Go to Country Codes</a>
                </td>
                <td><input id="country" type="text"></td>
            </tr>
            <tr>
                <td>For the City: 
                    <br> ~ Enter the name of a city (Berkeley)
                    <br> ~ Or enter a city and state, or region (Berkeley, CA)
                    <br> ~ Or a Postal or Zip Code (94720)
                </td>
                <td><input id="location" type="text"></td>
            </tr>
            <tr>
                <td>Enter a Start Date in this format:
                    <br> YYYY-MM-DD
                    <br>(4-digit Year, hyphen, 2-digit Month, hyphen, 2-digit Day)
                </td>
                <td><input id="start_date" type="text"></td>
            </tr>
            <tr>
                <td>Enter an End Date
                    <br> YYYY-MM-DD
                    <br>(Please choose an End Date that occurs after the Start Date.)
                </td>
                <td><input id="end_date" type="text"></td>
            </tr>
        </table>
    </div>

    <div>
        <p></p>
        <p>
            <button id="get_links" class="button1">Generate Link</button>
        </p>
    <h1 class="p1">
    <a id="history-link">Go to Weather History JSON</a>
    <!-- <a><button id="history-link" class="button2">Go to Weather JSON</button></a> -->
    </h1>
    <!-- <p>
    <a id="seasons-link">Seasons</a>
    </p> -->
    </div>

    <div>
        <p class="p1">
            Data Sources:
            <p class="p1">
            <strong>Weather API</strong>
            <br>
            <em>60 years global archive with hourly values at 0.25° resolution</em>
            <br>
            <a href>https://open-meteo.com/en/docs/historical-weather-api</a>
            <br>
            <em>
            Generated using Copernicus Climate Change Service information 2022.  
            All users of Open-Meteo data must provide a clear attribution to the 
            Copernicus program as well as a reference to Open-Meteo.
            <br>
            Our data source is the ERA5 historical weather reanalysis dataset, 
            obtained through the Open-Meteo historical weather API.
            <br>
            The ERA5 was created by the European Copernicus Climate Change Service 
            information 2022, in collaboration with the European Centre for 
            Medium-Range Weather Forecasts.
            </em>
            </p>
            <p class="p1">
            <strong>PositionStack</strong>
            <br>
            <em>The positionstack API was built to offer a straightforward and reliable solution for forward and reverse geocoding, covering more than 2 billion places and addresses worldwide.</em>
            <br>
            <a href=>https://positionstack.com/documentation</a>
            </p>
        </p>
    </div>
    
    <script type="text/javascript">
        // getting references
        var country_field = d3.select("#country");
        var location_field = d3.select("#location");
        var start_date_field = d3.select("#start_date");
        var end_date_field = d3.select("#end_date");
        var the_button = d3.select("#get_links");
        var history_link_thing = d3.select("#history-link");
        var seasons_link_thing = d3.select("#seasons-link");

        // global variables to hold 4 inputs - i'm sure this is kludge
        var country_val = "";
        var location_val = "";
        var start_date_val = "";
        var end_date_val = "";

        // functions linking input fields to their variables
        country_field.on("change", function() {
            country_val = d3.event.target.value;
            console.log("country", country_val);
        });

        location_field.on("change", function() {
            location_val = d3.event.target.value;
            console.log("location", location_val);
        });

        start_date_field.on("change", function() {
            start_date_val = d3.event.target.value;
            console.log("start date", start_date_val);
        });

        end_date_field.on("change", function() {
            end_date_val = d3.event.target.value;
            console.log("end date", end_date_val);
        });

        // the function that fills urls
        the_button.on("click", function() {
            var urrl = country_val + "/" + location_val + "/" + start_date_val + "/" + end_date_val;
            history_link_thing.attr("href", "pretty/v1.0/history_loc/"+urrl );
            seasons_link_thing.attr("href", "seasons/"+urrl );
        });

    </script>

</body>
</html>