<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Describer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1 class="p1"><center>Enter location and date range, get a simple description of weather.</center></h1>
    <ul class="flex-container p1">
        <li class="flex-item-input-loc">
            <form> <input id="location" type="text" size="50"> </form>
            <br> Enter city (Las Vegas); or city and state or province (Toronto ON),
            or city and country (London England) <b>without commas</b><div class=""></div>
        </li>
        <li class="flex-item-input-dat">
            <div>
                <!-- table for Start Dates input -->
                <table class="p1">
                    <tr>
                        <td>
                            <div>
                                <form>
                                    <label for="start_year_inputid">Start Year:</label>
                                </form>
                            </div>
                        </td>

                        <td>
                            <div>
                                <form>
                                    <select name="start_year_inputname" id="start_year_inputid">
                                        <!-- <option value="nullstartyear" selected="selected"></option> -->
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                    </select>
                                </form>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div>
                                <form>
                                    <label for="start_month_inputid">Start Month:</label>
                                </form>
                            </div>
                        </td>

                        <td>
                            <div>
                                <form>
                                    <select name="start_month_inputname" id="start_month_inputid">
                                        <!-- <option value="nullstartmonth" selected="selected"></option> -->
                                        <option value="01">01 January</option>
                                        <option value="02">02 February</option>
                                        <option value="03">03 March</option>
                                        <option value="04">04 April</option>
                                        <option value="05">05 May</option>
                                        <option value="06">06 June</option>
                                        <option value="07">07 July</option>
                                        <option value="08">08 August</option>
                                        <option value="09">09 September</option>
                                        <option value="10">10 October</option>
                                        <option value="11">11 November</option>
                                        <option value="12">12 December</option>
                                    </select>
                                </form>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div>
                                <form>
                                    <label for="start_day_inputid">Start Day:</label>
                                </form>
                            </div>
                        </td>

                        <td>
                            <div>
                                <form>
                                    <select name="start_day_inputname" id="start_day_inputid">
                                        <!-- <option value="nullstartday" selected="selected"></option> -->
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                </form>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
        <li class="flex-item-input-dat">
            <div>
                <!-- table for End Dates input -->
                <table class="p1">
                    <tr>
                        <td>
                            <div>
                                <form>
                                    <label for="end_year_inputid">End Year:</label>
                                </form>
                            </div>
                        </td>

                        <td>
                            <div>
                                <form>
                                    <select name="end_year_inputname" id="end_year_inputid">
                                        <!-- <option value="nullendyear" selected="selected"></option> -->
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                    </select>
                                </form>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div>
                                <form>
                                    <label for="end_month_inputid">End Month:</label>
                                </form>
                            </div>
                        </td>

                        <td>
                            <div>
                                <form>
                                    <select name="end_month_inputname" id="end_month_inputid">
                                        <!-- <option value="nullendmonth" selected="selected"></option> -->
                                        <option value="01">01 January</option>
                                        <option value="02">02 February</option>
                                        <option value="03">03 March</option>
                                        <option value="04">04 April</option>
                                        <option value="05">05 May</option>
                                        <option value="06">06 June</option>
                                        <option value="07">07 July</option>
                                        <option value="08">08 August</option>
                                        <option value="09">09 September</option>
                                        <option value="10">10 October</option>
                                        <option value="11">11 November</option>
                                        <option value="12">12 December</option>
                                    </select>
                                </form>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div>
                                <form>
                                    <label for="end_day_inputid">End Day:</label>
                                </form>
                            </div>
                        </td>

                        <td>
                            <div>
                                <form>
                                    <select name="end_day_inputname" id="end_day_inputid">
                                        <!-- <option value="nullendday" selected="selected"></option> -->
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                </form>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>

    <!-- The Button -->
    <div>
        <p><center>
            <button id="get_links" class="button1">What's the weather like?</button>
        </center></p>
    </div>

    <!-- echo location and daterange, short explain -->
    <p class="p1">
        We're getting 20 years of weather data for  {{datapack.loca.loc_check}} .<br>
        Not your destination? Go back and add details: country, region. And check spelling.<br>
        The charts below show what fraction of the days
         between {{datapack.dates.start_date}} and {{datapack.dates.end_date}}, 
        over twenty years, have had each weather type.
    </p>

    <!-- space for charts -->
    <ul class="flex-container">
        <li class="flex-item-chart">
            <div id="temp-chart"></div>
        </li>
        <li class="flex-item-chart">
            <div id="bar-chart"></div>
        </li>
        <li class="flex-item-chart">
            <div id="cloud-chart"></div>
        </li>
        <li class="flex-item-chart">
            <div id="humid-chart"></div>
        </li>
      </ul>

      <!-- References etc - add our names, github link -->
      <div>
        <p class="p1">
            Data Sources:
            <p class="p1">
            <strong>Weather API</strong>
            <br>
            <em>60 years global archive with hourly values at 0.25° resolution</em>
            <br>
            <a href>https://open-meteo.com/en/docs/historical-weather-api</a>
            <br>
            <em>
            Generated using Copernicus Climate Change Service information 2022.  
            All users of Open-Meteo data must provide a clear attribution to the 
            Copernicus program as well as a reference to Open-Meteo.
            <br>
            Our data source is the ERA5 historical weather reanalysis dataset, 
            obtained through the Open-Meteo historical weather API.
            <br>
            The ERA5 was created by the European Copernicus Climate Change Service 
            information 2022, in collaboration with the European Centre for 
            Medium-Range Weather Forecasts.
            </em>
            </p>
            <p class="p1">
            <strong>LocationIQ</strong>
            <br>
            <em><a href="https://locationiq.com">LocationIQ</a>: Affordable, Scalable & Reliable location services since 2013.</em>
            </p>
        </p>
    </div>


    <!-- one of the next two should work, maybe both? -->
    <script src="{{ url_for('static', filename='inputs.js') }}"></script>
    <script src="{{ url_for('static', filename='freq.js') }}"></script>

    <!-- here's the scary jinja -->
    {% block javascript %}
	<script>
        console.log("jinja script-in-html running");
        data = JSON.parse({{ datajason | tojson }});
        console.log({{ datajason | tojson }});
        temp_chart(data['temp'], "temp-chart", 
                    "Historical days by temperature",
                    ['blue', 'green', 'gold', 'red']);
        
        temp_chart(data['cloud'], "cloud-chart", 
                    "Historical days by clear or cloudy",
                    ['blue', 'white', 'grey']);

        temp_chart(data['humid'], "humid-chart", 
                    "Historical days by humidity",
                    ['gold', 'grey', 'green']);  
                    
        bar_chart(data['forbar'], "bar-chart", 
                    "Frequency of rain, snow, wind");
    </script>
    {% endblock %}

    


</body>
</html>
