<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Describer Ghostly Front Page</title>
</head>
<body>
    You shouldn't be here, you should've been redirected to 
    <a href="http://funwithweather.pythonanywhere.com/testing/chicago/2023-01-01/2023-12-31">
        the right place.
    </a>
    <script type="text/javascript">
        location.href = "describer/chicago/2023-01-01/2023-12-31";
    </script>
</body>
</html>